name: .NET Build


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  solutionPath: "src/ShoppingCart.sln"


jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout source
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed for git versioning logic

      # Install .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x" # or 7.0.x / 6.0.x etc.

      # Restore packages
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionPath }}
      
      - name: Build
        run: dotnet build ${{ env.solutionPath }} --configuration Release --no-restore
     
      # Git Version
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.4.x'

      # gittools/actions/gitversion/setup@v4.2.0 action omitted for brevity.
      - name: Determine Version
        id: version_step # step id used as a reference for output values
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          updateProjectFiles: true

      # run test
      - name: Test with the dotnet CLI
        run: dotnet test ${{ env.solutionPath }}
      
